html,
body {
  margin: 0;
  padding: 10px;
  font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
}

.element-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.delete-button {
  display: block;
  margin-top: 1rem;
}
